# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# config files
.env
prod.env
docs/auth-provider-setup/aggregate-verifier.mdx
docs/auth-provider-setup/auth-provider-setup.mdx
docs/auth-provider-setup/authentication-service-providers/auth0-service-provider.mdx
docs/auth-provider-setup/authentication-service-providers/aws-cognito-service-provider.mdx
docs/auth-provider-setup/authentication-service-providers/firebase-service-provider.mdx
docs/auth-provider-setup/byo-jwt-provider/byo-jwt-provider.mdx
docs/auth-provider-setup/byo-jwt-provider/jose.mdx
docs/auth-provider-setup/byo-jwt-provider/jsonwebtoken.mdx
docs/auth-provider-setup/byo-jwt-provider/passport-jwt.mdx
docs/auth-provider-setup/social-providers/apple.mdx
docs/auth-provider-setup/social-providers/baidu.mdx
docs/auth-provider-setup/social-providers/bitbucket.mdx
docs/auth-provider-setup/social-providers/discord.mdx
docs/auth-provider-setup/social-providers/email-passwordless.mdx
docs/auth-provider-setup/social-providers/facebook.mdx
docs/auth-provider-setup/social-providers/github.mdx
docs/auth-provider-setup/social-providers/google.mdx
docs/auth-provider-setup/social-providers/kakao.mdx
docs/auth-provider-setup/social-providers/line.mdx
docs/auth-provider-setup/social-providers/linkedin.mdx
docs/auth-provider-setup/social-providers/microsoft.mdx
docs/auth-provider-setup/social-providers/renren.mdx
docs/auth-provider-setup/social-providers/slack.mdx
docs/auth-provider-setup/social-providers/sms-passwordless.mdx
docs/auth-provider-setup/social-providers/social-providers.mdx
docs/auth-provider-setup/social-providers/spotify.mdx
docs/auth-provider-setup/social-providers/telegram.mdx
docs/auth-provider-setup/social-providers/twitch.mdx
docs/auth-provider-setup/social-providers/twitter.mdx
docs/auth-provider-setup/social-providers/vkontakte.mdx
docs/auth-provider-setup/social-providers/weibo.mdx
docs/auth-provider-setup/social-providers/worldcoin.mdx
docs/auth-provider-setup/social-providers/yandex.mdx
docs/auth-provider-setup/verifiers.mdx
docs/connect-blockchain/built-in-chainconfigs.mdx
docs/connect-blockchain/connect-blockchain.mdx
docs/connect-blockchain/evm/5ire/5ire.mdx
docs/connect-blockchain/evm/5ire/android.mdx
docs/connect-blockchain/evm/5ire/flutter.mdx
docs/connect-blockchain/evm/5ire/ios.mdx
docs/connect-blockchain/evm/5ire/react-native.mdx
docs/connect-blockchain/evm/5ire/unity.mdx
docs/connect-blockchain/evm/5ire/web.mdx
docs/connect-blockchain/evm/aleph-zero/aleph-zero.mdx
docs/connect-blockchain/evm/aleph-zero/android.mdx
docs/connect-blockchain/evm/aleph-zero/flutter.mdx
docs/connect-blockchain/evm/aleph-zero/ios.mdx
docs/connect-blockchain/evm/aleph-zero/react-native.mdx
docs/connect-blockchain/evm/aleph-zero/unity.mdx
docs/connect-blockchain/evm/aleph-zero/web.mdx
docs/connect-blockchain/evm/ancient8/ancient8.mdx
docs/connect-blockchain/evm/ancient8/android.mdx
docs/connect-blockchain/evm/ancient8/flutter.mdx
docs/connect-blockchain/evm/ancient8/ios.mdx
docs/connect-blockchain/evm/ancient8/react-native.mdx
docs/connect-blockchain/evm/ancient8/unity.mdx
docs/connect-blockchain/evm/ancient8/web.mdx
docs/connect-blockchain/evm/arbitrum/android.mdx
docs/connect-blockchain/evm/arbitrum/arbitrum.mdx
docs/connect-blockchain/evm/arbitrum/flutter.mdx
docs/connect-blockchain/evm/arbitrum/ios.mdx
docs/connect-blockchain/evm/arbitrum/react-native.mdx
docs/connect-blockchain/evm/arbitrum/unity.mdx
docs/connect-blockchain/evm/arbitrum/web.mdx
docs/connect-blockchain/evm/astar-zkevm/android.mdx
docs/connect-blockchain/evm/astar-zkevm/astar-zkevm.mdx
docs/connect-blockchain/evm/astar-zkevm/flutter.mdx
docs/connect-blockchain/evm/astar-zkevm/ios.mdx
docs/connect-blockchain/evm/astar-zkevm/react-native.mdx
docs/connect-blockchain/evm/astar-zkevm/unity.mdx
docs/connect-blockchain/evm/astar-zkevm/web.mdx
docs/connect-blockchain/evm/astar-zkyoto/android.mdx
docs/connect-blockchain/evm/astar-zkyoto/astar-zkyoto.mdx
docs/connect-blockchain/evm/astar-zkyoto/flutter.mdx
docs/connect-blockchain/evm/astar-zkyoto/ios.mdx
docs/connect-blockchain/evm/astar-zkyoto/react-native.mdx
docs/connect-blockchain/evm/astar-zkyoto/unity.mdx
docs/connect-blockchain/evm/astar-zkyoto/web.mdx
docs/connect-blockchain/evm/avalanche/android.mdx
docs/connect-blockchain/evm/avalanche/avalanche.mdx
docs/connect-blockchain/evm/avalanche/flutter.mdx
docs/connect-blockchain/evm/avalanche/ios.mdx
docs/connect-blockchain/evm/avalanche/react-native.mdx
docs/connect-blockchain/evm/avalanche/unity.mdx
docs/connect-blockchain/evm/avalanche/web.mdx
docs/connect-blockchain/evm/base/android.mdx
docs/connect-blockchain/evm/base/base.mdx
docs/connect-blockchain/evm/base/flutter.mdx
docs/connect-blockchain/evm/base/ios.mdx
docs/connect-blockchain/evm/base/react-native.mdx
docs/connect-blockchain/evm/base/unity.mdx
docs/connect-blockchain/evm/base/web.mdx
docs/connect-blockchain/evm/bitkub/android.mdx
docs/connect-blockchain/evm/bitkub/bitkub.mdx
docs/connect-blockchain/evm/bitkub/flutter.mdx
docs/connect-blockchain/evm/bitkub/ios.mdx
docs/connect-blockchain/evm/bitkub/react-native.mdx
docs/connect-blockchain/evm/bitkub/unity.mdx
docs/connect-blockchain/evm/bitkub/web.mdx
docs/connect-blockchain/evm/bnb/android.mdx
docs/connect-blockchain/evm/bnb/bnb.mdx
docs/connect-blockchain/evm/bnb/flutter.mdx
docs/connect-blockchain/evm/bnb/ios.mdx
docs/connect-blockchain/evm/bnb/react-native.mdx
docs/connect-blockchain/evm/bnb/unity.mdx
docs/connect-blockchain/evm/bnb/web.mdx
docs/connect-blockchain/evm/celo/android.mdx
docs/connect-blockchain/evm/celo/celo.mdx
docs/connect-blockchain/evm/celo/flutter.mdx
docs/connect-blockchain/evm/celo/ios.mdx
docs/connect-blockchain/evm/celo/react-native.mdx
docs/connect-blockchain/evm/celo/unity.mdx
docs/connect-blockchain/evm/celo/web.mdx
docs/connect-blockchain/evm/chiliz/android.mdx
docs/connect-blockchain/evm/chiliz/chiliz.mdx
docs/connect-blockchain/evm/chiliz/flutter.mdx
docs/connect-blockchain/evm/chiliz/ios.mdx
docs/connect-blockchain/evm/chiliz/react-native.mdx
docs/connect-blockchain/evm/chiliz/unity.mdx
docs/connect-blockchain/evm/chiliz/web.mdx
docs/connect-blockchain/evm/cronos/android.mdx
docs/connect-blockchain/evm/cronos/cronos.mdx
docs/connect-blockchain/evm/cronos/flutter.mdx
docs/connect-blockchain/evm/cronos/ios.mdx
docs/connect-blockchain/evm/cronos/react-native.mdx
docs/connect-blockchain/evm/cronos/unity.mdx
docs/connect-blockchain/evm/cronos/web.mdx
docs/connect-blockchain/evm/ethereum/android.mdx
docs/connect-blockchain/evm/ethereum/ethereum.mdx
docs/connect-blockchain/evm/ethereum/flutter.mdx
docs/connect-blockchain/evm/ethereum/ios.mdx
docs/connect-blockchain/evm/ethereum/react-native.mdx
docs/connect-blockchain/evm/ethereum/unity.mdx
docs/connect-blockchain/evm/ethereum/web.mdx
docs/connect-blockchain/evm/evm.mdx
docs/connect-blockchain/evm/fhenix/android.mdx
docs/connect-blockchain/evm/fhenix/fhenix.mdx
docs/connect-blockchain/evm/fhenix/flutter.mdx
docs/connect-blockchain/evm/fhenix/ios.mdx
docs/connect-blockchain/evm/fhenix/react-native.mdx
docs/connect-blockchain/evm/fhenix/unity.mdx
docs/connect-blockchain/evm/fhenix/web.mdx
docs/connect-blockchain/evm/flare/android.mdx
docs/connect-blockchain/evm/flare/flare.mdx
docs/connect-blockchain/evm/flare/flutter.mdx
docs/connect-blockchain/evm/flare/ios.mdx
docs/connect-blockchain/evm/flare/react-native.mdx
docs/connect-blockchain/evm/flare/unity.mdx
docs/connect-blockchain/evm/flare/web.mdx
docs/connect-blockchain/evm/flow/android.mdx
docs/connect-blockchain/evm/flow/flow.mdx
docs/connect-blockchain/evm/flow/flutter.mdx
docs/connect-blockchain/evm/flow/ios.mdx
docs/connect-blockchain/evm/flow/react-native.mdx
docs/connect-blockchain/evm/flow/unity.mdx
docs/connect-blockchain/evm/flow/web.mdx
docs/connect-blockchain/evm/harmony/android.mdx
docs/connect-blockchain/evm/harmony/flutter.mdx
docs/connect-blockchain/evm/harmony/harmony.mdx
docs/connect-blockchain/evm/harmony/ios.mdx
docs/connect-blockchain/evm/harmony/react-native.mdx
docs/connect-blockchain/evm/harmony/unity.mdx
docs/connect-blockchain/evm/harmony/web.mdx
docs/connect-blockchain/evm/hedera/android.mdx
docs/connect-blockchain/evm/hedera/flutter.mdx
docs/connect-blockchain/evm/hedera/hedera.mdx
docs/connect-blockchain/evm/hedera/ios.mdx
docs/connect-blockchain/evm/hedera/react-native.mdx
docs/connect-blockchain/evm/hedera/unity.mdx
docs/connect-blockchain/evm/hedera/web.mdx
docs/connect-blockchain/evm/kinto/android.mdx
docs/connect-blockchain/evm/kinto/flutter.mdx
docs/connect-blockchain/evm/kinto/ios.mdx
docs/connect-blockchain/evm/kinto/kinto.mdx
docs/connect-blockchain/evm/kinto/react-native.mdx
docs/connect-blockchain/evm/kinto/unity.mdx
docs/connect-blockchain/evm/kinto/web.mdx
docs/connect-blockchain/evm/klaytn/android.mdx
docs/connect-blockchain/evm/klaytn/flutter.mdx
docs/connect-blockchain/evm/klaytn/ios.mdx
docs/connect-blockchain/evm/klaytn/klaytn.mdx
docs/connect-blockchain/evm/klaytn/react-native.mdx
docs/connect-blockchain/evm/klaytn/unity.mdx
docs/connect-blockchain/evm/klaytn/web.mdx
docs/connect-blockchain/evm/linea/android.mdx
docs/connect-blockchain/evm/linea/flutter.mdx
docs/connect-blockchain/evm/linea/ios.mdx
docs/connect-blockchain/evm/linea/linea.mdx
docs/connect-blockchain/evm/linea/react-native.mdx
docs/connect-blockchain/evm/linea/unity.mdx
docs/connect-blockchain/evm/linea/web.mdx
docs/connect-blockchain/evm/manta/android.mdx
docs/connect-blockchain/evm/manta/flutter.mdx
docs/connect-blockchain/evm/manta/ios.mdx
docs/connect-blockchain/evm/manta/manta.mdx
docs/connect-blockchain/evm/manta/react-native.mdx
docs/connect-blockchain/evm/manta/unity.mdx
docs/connect-blockchain/evm/manta/web.mdx
docs/connect-blockchain/evm/metis/android.mdx
docs/connect-blockchain/evm/metis/flutter.mdx
docs/connect-blockchain/evm/metis/ios.mdx
docs/connect-blockchain/evm/metis/metis.mdx
docs/connect-blockchain/evm/metis/react-native.mdx
docs/connect-blockchain/evm/metis/unity.mdx
docs/connect-blockchain/evm/metis/web.mdx
docs/connect-blockchain/evm/mint/android.mdx
docs/connect-blockchain/evm/mint/flutter.mdx
docs/connect-blockchain/evm/mint/ios.mdx
docs/connect-blockchain/evm/mint/mint.mdx
docs/connect-blockchain/evm/mint/react-native.mdx
docs/connect-blockchain/evm/mint/unity.mdx
docs/connect-blockchain/evm/mint/web.mdx
docs/connect-blockchain/evm/moonbeam/android.mdx
docs/connect-blockchain/evm/moonbeam/flutter.mdx
docs/connect-blockchain/evm/moonbeam/ios.mdx
docs/connect-blockchain/evm/moonbeam/moonbeam.mdx
docs/connect-blockchain/evm/moonbeam/react-native.mdx
docs/connect-blockchain/evm/moonbeam/unity.mdx
docs/connect-blockchain/evm/moonbeam/web.mdx
docs/connect-blockchain/evm/moonriver/android.mdx
docs/connect-blockchain/evm/moonriver/flutter.mdx
docs/connect-blockchain/evm/moonriver/ios.mdx
docs/connect-blockchain/evm/moonriver/moonriver.mdx
docs/connect-blockchain/evm/moonriver/react-native.mdx
docs/connect-blockchain/evm/moonriver/unity.mdx
docs/connect-blockchain/evm/moonriver/web.mdx
docs/connect-blockchain/evm/morph/android.mdx
docs/connect-blockchain/evm/morph/flutter.mdx
docs/connect-blockchain/evm/morph/ios.mdx
docs/connect-blockchain/evm/morph/morph.mdx
docs/connect-blockchain/evm/morph/react-native.mdx
docs/connect-blockchain/evm/morph/unity.mdx
docs/connect-blockchain/evm/morph/web.mdx
docs/connect-blockchain/evm/neon/android.mdx
docs/connect-blockchain/evm/neon/flutter.mdx
docs/connect-blockchain/evm/neon/ios.mdx
docs/connect-blockchain/evm/neon/neon.mdx
docs/connect-blockchain/evm/neon/react-native.mdx
docs/connect-blockchain/evm/neon/unity.mdx
docs/connect-blockchain/evm/neon/web.mdx
docs/connect-blockchain/evm/nibiru/android.mdx
docs/connect-blockchain/evm/nibiru/flutter.mdx
docs/connect-blockchain/evm/nibiru/ios.mdx
docs/connect-blockchain/evm/nibiru/nibiru.mdx
docs/connect-blockchain/evm/nibiru/react-native.mdx
docs/connect-blockchain/evm/nibiru/unity.mdx
docs/connect-blockchain/evm/nibiru/web.mdx
docs/connect-blockchain/evm/opbnb/android.mdx
docs/connect-blockchain/evm/opbnb/flutter.mdx
docs/connect-blockchain/evm/opbnb/ios.mdx
docs/connect-blockchain/evm/opbnb/opbnb.mdx
docs/connect-blockchain/evm/opbnb/react-native.mdx
docs/connect-blockchain/evm/opbnb/unity.mdx
docs/connect-blockchain/evm/opbnb/web.mdx
docs/connect-blockchain/evm/optimism/android.mdx
docs/connect-blockchain/evm/optimism/flutter.mdx
docs/connect-blockchain/evm/optimism/ios.mdx
docs/connect-blockchain/evm/optimism/optimism.mdx
docs/connect-blockchain/evm/optimism/react-native.mdx
docs/connect-blockchain/evm/optimism/unity.mdx
docs/connect-blockchain/evm/optimism/web.mdx
docs/connect-blockchain/evm/polygon/android.mdx
docs/connect-blockchain/evm/polygon/flutter.mdx
docs/connect-blockchain/evm/polygon/ios.mdx
docs/connect-blockchain/evm/polygon/polygon.mdx
docs/connect-blockchain/evm/polygon/react-native.mdx
docs/connect-blockchain/evm/polygon/unity.mdx
docs/connect-blockchain/evm/polygon/web.mdx
docs/connect-blockchain/evm/rootstock/android.mdx
docs/connect-blockchain/evm/rootstock/flutter.mdx
docs/connect-blockchain/evm/rootstock/ios.mdx
docs/connect-blockchain/evm/rootstock/react-native.mdx
docs/connect-blockchain/evm/rootstock/rootstock.mdx
docs/connect-blockchain/evm/rootstock/unity.mdx
docs/connect-blockchain/evm/rootstock/web.mdx
docs/connect-blockchain/evm/saakuru/android.mdx
docs/connect-blockchain/evm/saakuru/flutter.mdx
docs/connect-blockchain/evm/saakuru/ios.mdx
docs/connect-blockchain/evm/saakuru/react-native.mdx
docs/connect-blockchain/evm/saakuru/saakuru.mdx
docs/connect-blockchain/evm/saakuru/unity.mdx
docs/connect-blockchain/evm/saakuru/web.mdx
docs/connect-blockchain/evm/shardeum/android.mdx
docs/connect-blockchain/evm/shardeum/flutter.mdx
docs/connect-blockchain/evm/shardeum/ios.mdx
docs/connect-blockchain/evm/shardeum/react-native.mdx
docs/connect-blockchain/evm/shardeum/shardeum.mdx
docs/connect-blockchain/evm/shardeum/unity.mdx
docs/connect-blockchain/evm/shardeum/web.mdx
docs/connect-blockchain/evm/skale/android.mdx
docs/connect-blockchain/evm/skale/flutter.mdx
docs/connect-blockchain/evm/skale/ios.mdx
docs/connect-blockchain/evm/skale/react-native.mdx
docs/connect-blockchain/evm/skale/skale.mdx
docs/connect-blockchain/evm/skale/unity.mdx
docs/connect-blockchain/evm/skale/web.mdx
docs/connect-blockchain/evm/soneium/android.mdx
docs/connect-blockchain/evm/soneium/flutter.mdx
docs/connect-blockchain/evm/soneium/ios.mdx
docs/connect-blockchain/evm/soneium/react-native.mdx
docs/connect-blockchain/evm/soneium/soneium.mdx
docs/connect-blockchain/evm/soneium/unity.mdx
docs/connect-blockchain/evm/soneium/web.mdx
docs/connect-blockchain/evm/songbird/android.mdx
docs/connect-blockchain/evm/songbird/flutter.mdx
docs/connect-blockchain/evm/songbird/ios.mdx
docs/connect-blockchain/evm/songbird/react-native.mdx
docs/connect-blockchain/evm/songbird/songbird.mdx
docs/connect-blockchain/evm/songbird/unity.mdx
docs/connect-blockchain/evm/songbird/web.mdx
docs/connect-blockchain/evm/tron/tron.mdx
docs/connect-blockchain/evm/tron/web.mdx
docs/connect-blockchain/evm/unichain/android.mdx
docs/connect-blockchain/evm/unichain/flutter.mdx
docs/connect-blockchain/evm/unichain/ios.mdx
docs/connect-blockchain/evm/unichain/react-native.mdx
docs/connect-blockchain/evm/unichain/unichain.mdx
docs/connect-blockchain/evm/unichain/unity.mdx
docs/connect-blockchain/evm/unichain/web.mdx
docs/connect-blockchain/evm/xdc/android.mdx
docs/connect-blockchain/evm/xdc/flutter.mdx
docs/connect-blockchain/evm/xdc/ios.mdx
docs/connect-blockchain/evm/xdc/react-native.mdx
docs/connect-blockchain/evm/xdc/unity.mdx
docs/connect-blockchain/evm/xdc/web.mdx
docs/connect-blockchain/evm/xdc/xdc.mdx
docs/connect-blockchain/evm/xpla/android.mdx
docs/connect-blockchain/evm/xpla/flutter.mdx
docs/connect-blockchain/evm/xpla/ios.mdx
docs/connect-blockchain/evm/xpla/react-native.mdx
docs/connect-blockchain/evm/xpla/unity.mdx
docs/connect-blockchain/evm/xpla/web.mdx
docs/connect-blockchain/evm/xpla/xpla.mdx
docs/connect-blockchain/evm/zetachain/android.mdx
docs/connect-blockchain/evm/zetachain/flutter.mdx
docs/connect-blockchain/evm/zetachain/ios.mdx
docs/connect-blockchain/evm/zetachain/react-native.mdx
docs/connect-blockchain/evm/zetachain/unity.mdx
docs/connect-blockchain/evm/zetachain/web.mdx
docs/connect-blockchain/evm/zetachain/zetachain.mdx
docs/connect-blockchain/evm/zilliqa/android.mdx
docs/connect-blockchain/evm/zilliqa/flutter.mdx
docs/connect-blockchain/evm/zilliqa/ios.mdx
docs/connect-blockchain/evm/zilliqa/react-native.mdx
docs/connect-blockchain/evm/zilliqa/unity.mdx
docs/connect-blockchain/evm/zilliqa/web.mdx
docs/connect-blockchain/evm/zilliqa/zilliqa.mdx
docs/connect-blockchain/evm/zircuit/android.mdx
docs/connect-blockchain/evm/zircuit/flutter.mdx
docs/connect-blockchain/evm/zircuit/ios.mdx
docs/connect-blockchain/evm/zircuit/react-native.mdx
docs/connect-blockchain/evm/zircuit/unity.mdx
docs/connect-blockchain/evm/zircuit/web.mdx
docs/connect-blockchain/evm/zircuit/zircuit.mdx
docs/connect-blockchain/near/near.mdx
docs/connect-blockchain/near/web-mpc.mdx
docs/connect-blockchain/near/web.mdx
docs/connect-blockchain/other/algorand.mdx
docs/connect-blockchain/other/aptos.mdx
docs/connect-blockchain/other/bitcoin.mdx
docs/connect-blockchain/other/cosmos.mdx
docs/connect-blockchain/other/immutablex.mdx
docs/connect-blockchain/other/other.mdx
docs/connect-blockchain/other/polkadot.mdx
docs/connect-blockchain/other/polymesh.mdx
docs/connect-blockchain/other/starkex.mdx
docs/connect-blockchain/other/starknet.mdx
docs/connect-blockchain/other/sui.mdx
docs/connect-blockchain/other/tezos.mdx
docs/connect-blockchain/other/ton.mdx
docs/connect-blockchain/solana/android.mdx
docs/connect-blockchain/solana/flutter.mdx
docs/connect-blockchain/solana/ios.mdx
docs/connect-blockchain/solana/solana.mdx
docs/connect-blockchain/solana/web-mpc.mdx
docs/connect-blockchain/solana/web.mdx
docs/connect-blockchain/xrpl.mdx
docs/contribute/bug-bounty.mdx
docs/contribute/contribute.mdx
docs/dashboard-setup/billing-and-usage.mdx
docs/dashboard-setup/dashboard-setup.mdx
docs/dashboard-setup/enable-interoperability.mdx
docs/dashboard-setup/projects-and-analytics.mdx
docs/dashboard-setup/roles-and-permissions.mdx
docs/dashboard-setup/setup-custom-authentication.mdx
docs/dashboard-setup/whitelisting.mdx
docs/examples.mdx
docs/features/account-abstraction.mdx
docs/features/account-dashboard.mdx
docs/features/compatible-blockchains.mdx
docs/features/custom-authentication.mdx
docs/features/ecosystem-wallets.mdx
docs/features/external-wallets.mdx
docs/features/gaming.mdx
docs/features/interoperability.mdx
docs/features/mfa.mdx
docs/features/mobile.mdx
docs/features/mpc.mdx
docs/features/nft-minting.mdx
docs/features/passkeys.mdx
docs/features/server-side-verification.mdx
docs/features/session-management.mdx
docs/features/topup.mdx
docs/features/wallet-pregeneration.mdx
docs/features/wallet-ui.mdx
docs/features/whitelabel.mdx
docs/how-web3auth-works.mdx
docs/infrastructure/glossary.mdx
docs/infrastructure/infrastructure.mdx
docs/infrastructure/mpc-architecture.mdx
docs/infrastructure/nodes-and-dkg.mdx
docs/infrastructure/sss-architecture.mdx
docs/legal/cookie-policy.mdx
docs/legal/privacy-policy.mdx
docs/legal/terms-and-conditions.mdx
docs/migration-guides/android-v4-to-v5.mdx
docs/migration-guides/android-v5-to-v6.mdx
docs/migration-guides/android-v6-to-v6.1.mdx
docs/migration-guides/android-v7.1.1-to-v7.1.2.mdx
docs/migration-guides/android-v7.1.2-to-v7.2.mdx
docs/migration-guides/android-v7.2-to-v7.3.mdx
docs/migration-guides/android-v7.3-to-v7.4.mdx
docs/migration-guides/android-v8-to-v9.mdx
docs/migration-guides/flutter-v3-to-v4.mdx
docs/migration-guides/flutter-v5-to-v6.mdx
docs/migration-guides/ios-v6-to-v7.mdx
docs/migration-guides/ios-v7-to-v8.mdx
docs/migration-guides/ios-v8-to-v8.1.mdx
docs/migration-guides/ios-v8.1-to-v8.2.mdx
docs/migration-guides/ios-v8.2-to-v8.3.mdx
docs/migration-guides/ios-v8.3-to-v8.4.mdx
docs/migration-guides/ios-v9-to-v10.mdx
docs/migration-guides/modal-v5-to-v6.mdx
docs/migration-guides/modal-v6-to-v7.mdx
docs/migration-guides/modal-v7-to-v8.mdx
docs/migration-guides/modal-v8-to-v9.mdx
docs/migration-guides/mpc-core-kit-react-native-migration.mdx
docs/migration-guides/mpc-core-kit-web-v2-to-v3.mdx
docs/migration-guides/no-modal-v5-to-v6.mdx
docs/migration-guides/no-modal-v6-to-v7.mdx
docs/migration-guides/no-modal-v7-to-v8.mdx
docs/migration-guides/no-modal-v8-to-v9.mdx
docs/migration-guides/rn-v3-to-v4.mdx
docs/migration-guides/rn-v4-to-v5.mdx
docs/migration-guides/rn-v5-to-v6.mdx
docs/migration-guides/rn-v7-to-v8.mdx
docs/migration-guides/sfa-android-v0.1.0-to-v0.3.0.mdx
docs/migration-guides/sfa-android-v0.4.0-to-v1.mdx
docs/migration-guides/sfa-android-v1.2.0-to-v2.0.0.mdx
docs/migration-guides/sfa-android-v2-to-v3.mdx
docs/migration-guides/sfa-flutter-v1-to-v2.mdx
docs/migration-guides/sfa-flutter-v2-to-v4.mdx
docs/migration-guides/sfa-flutter-v4-to-v5.mdx
docs/migration-guides/sfa-flutter-v5-to-v6.mdx
docs/migration-guides/sfa-ios-v2-to-v4.mdx
docs/migration-guides/sfa-ios-v7-to-v8.mdx
docs/migration-guides/sfa-ios-v8-to-v9.mdx
docs/migration-guides/sfa-node-to-sfa-js.mdx
docs/migration-guides/sfa-rn-to-sfa-js.mdx
docs/product-fit.mdx
docs/product/mpc-core-kit.mdx
docs/product/pnp.mdx
docs/product/product.mdx
docs/product/sfa.mdx
docs/product/wallet-services.mdx
docs/README.mdx
docs/resources.mdx
docs/resources/checklist.mdx
docs/resources/mfa-best-practices.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/authentication/authentication.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/authentication/login-jwt.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/authentication/login-oauth.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/examples.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/initialize.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/install.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/mpc-core-kit-js.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/providers/evm.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/providers/providers.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/signing.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-js/usage.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/authentication.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/examples.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/initialize.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/install.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/mpc-core-kit-react-native.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/providers/evm.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/providers/providers.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/signing.mdx
docs/sdk/mpc-core-kit/mpc-core-kit-react-native/usage.mdx
docs/sdk/pnp/android/android.mdx
docs/sdk/pnp/android/custom-authentication.mdx
docs/sdk/pnp/android/dapp-share.mdx
docs/sdk/pnp/android/examples.mdx
docs/sdk/pnp/android/initialize.mdx
docs/sdk/pnp/android/install.mdx
docs/sdk/pnp/android/mfa.mdx
docs/sdk/pnp/android/usage.mdx
docs/sdk/pnp/android/whitelabel.mdx
docs/sdk/pnp/flutter/custom-authentication.mdx
docs/sdk/pnp/flutter/dapp-share.mdx
docs/sdk/pnp/flutter/examples.mdx
docs/sdk/pnp/flutter/flutter.mdx
docs/sdk/pnp/flutter/initialize.mdx
docs/sdk/pnp/flutter/install.mdx
docs/sdk/pnp/flutter/mfa.mdx
docs/sdk/pnp/flutter/usage.mdx
docs/sdk/pnp/flutter/whitelabel.mdx
docs/sdk/pnp/ios/custom-authentication.mdx
docs/sdk/pnp/ios/dapp-share.mdx
docs/sdk/pnp/ios/examples.mdx
docs/sdk/pnp/ios/initialize.mdx
docs/sdk/pnp/ios/install.mdx
docs/sdk/pnp/ios/ios.mdx
docs/sdk/pnp/ios/mfa.mdx
docs/sdk/pnp/ios/usage.mdx
docs/sdk/pnp/ios/whitelabel.mdx
docs/sdk/pnp/react-native/account-abstraction.mdx
docs/sdk/pnp/react-native/custom-authentication.mdx
docs/sdk/pnp/react-native/dapp-share.mdx
docs/sdk/pnp/react-native/examples.mdx
docs/sdk/pnp/react-native/initialize.mdx
docs/sdk/pnp/react-native/install.mdx
docs/sdk/pnp/react-native/mfa.mdx
docs/sdk/pnp/react-native/providers/aa-provider.mdx
docs/sdk/pnp/react-native/providers/common.mdx
docs/sdk/pnp/react-native/providers/evm.mdx
docs/sdk/pnp/react-native/providers/providers.mdx
docs/sdk/pnp/react-native/providers/solana.mdx
docs/sdk/pnp/react-native/providers/xrpl.mdx
docs/sdk/pnp/react-native/react-native.mdx
docs/sdk/pnp/react-native/usage.mdx
docs/sdk/pnp/react-native/whitelabel.mdx
docs/sdk/pnp/unity/custom-authentication.mdx
docs/sdk/pnp/unity/dapp-share.mdx
docs/sdk/pnp/unity/examples.mdx
docs/sdk/pnp/unity/initialize.mdx
docs/sdk/pnp/unity/install.mdx
docs/sdk/pnp/unity/mfa.mdx
docs/sdk/pnp/unity/unity.mdx
docs/sdk/pnp/unity/usage.mdx
docs/sdk/pnp/unity/whitelabel.mdx
docs/sdk/pnp/unreal/custom-authentication.mdx
docs/sdk/pnp/unreal/examples.mdx
docs/sdk/pnp/unreal/initialize.mdx
docs/sdk/pnp/unreal/install.mdx
docs/sdk/pnp/unreal/mfa.mdx
docs/sdk/pnp/unreal/unreal.mdx
docs/sdk/pnp/unreal/usage.mdx
docs/sdk/pnp/unreal/whitelabel.mdx
docs/sdk/pnp/web/adapters/adapters.mdx
docs/sdk/pnp/web/adapters/auth.mdx
docs/sdk/pnp/web/adapters/coinbase.mdx
docs/sdk/pnp/web/adapters/default-evm-adapter.mdx
docs/sdk/pnp/web/adapters/default-solana-adapter.mdx
docs/sdk/pnp/web/adapters/metamask.mdx
docs/sdk/pnp/web/adapters/phantom.mdx
docs/sdk/pnp/web/adapters/solflare.mdx
docs/sdk/pnp/web/adapters/torus-evm.mdx
docs/sdk/pnp/web/adapters/torus-solana.mdx
docs/sdk/pnp/web/adapters/wallet-connect-v1.mdx
docs/sdk/pnp/web/adapters/wallet-connect-v2.mdx
docs/sdk/pnp/web/modal/account-abstraction.mdx
docs/sdk/pnp/web/modal/custom-authentication.mdx
docs/sdk/pnp/web/modal/examples.mdx
docs/sdk/pnp/web/modal/initialize.mdx
docs/sdk/pnp/web/modal/initiate-topup.mdx
docs/sdk/pnp/web/modal/install.mdx
docs/sdk/pnp/web/modal/mfa.mdx
docs/sdk/pnp/web/modal/modal-hooks.mdx
docs/sdk/pnp/web/modal/modal.mdx
docs/sdk/pnp/web/modal/show-wallet-connect.mdx
docs/sdk/pnp/web/modal/usage.mdx
docs/sdk/pnp/web/modal/whitelabel.mdx
docs/sdk/pnp/web/no-modal/account-abstraction.mdx
docs/sdk/pnp/web/no-modal/custom-authentication.mdx
docs/sdk/pnp/web/no-modal/examples.mdx
docs/sdk/pnp/web/no-modal/initialize.mdx
docs/sdk/pnp/web/no-modal/initiate-topup.mdx
docs/sdk/pnp/web/no-modal/install.mdx
docs/sdk/pnp/web/no-modal/mfa.mdx
docs/sdk/pnp/web/no-modal/no-modal-hooks.mdx
docs/sdk/pnp/web/no-modal/no-modal.mdx
docs/sdk/pnp/web/no-modal/show-wallet-connect.mdx
docs/sdk/pnp/web/no-modal/usage.mdx
docs/sdk/pnp/web/no-modal/whitelabel.mdx
docs/sdk/pnp/web/providers/aa-provider.mdx
docs/sdk/pnp/web/providers/common.mdx
docs/sdk/pnp/web/providers/evm.mdx
docs/sdk/pnp/web/providers/providers.mdx
docs/sdk/pnp/web/providers/solana.mdx
docs/sdk/pnp/web/providers/xrpl.mdx
docs/sdk/pnp/web/wagmi-connector.mdx
docs/sdk/pnp/web/wallet-services/usage.mdx
docs/sdk/pnp/web/wallet-services/wallet-services-hooks.mdx
docs/sdk/pnp/web/wallet-services/wallet-services.mdx
docs/sdk/pnp/web/web.mdx
docs/sdk/sdk.mdx
docs/sdk/sfa/sfa-android/authentication.mdx
docs/sdk/sfa/sfa-android/examples.mdx
docs/sdk/sfa/sfa-android/initialize.mdx
docs/sdk/sfa/sfa-android/install.mdx
docs/sdk/sfa/sfa-android/sfa-android.mdx
docs/sdk/sfa/sfa-android/usage.mdx
docs/sdk/sfa/sfa-flutter/authentication.mdx
docs/sdk/sfa/sfa-flutter/examples.mdx
docs/sdk/sfa/sfa-flutter/initialize.mdx
docs/sdk/sfa/sfa-flutter/install.mdx
docs/sdk/sfa/sfa-flutter/sfa-flutter.mdx
docs/sdk/sfa/sfa-flutter/usage.mdx
docs/sdk/sfa/sfa-ios/authentication.mdx
docs/sdk/sfa/sfa-ios/examples.mdx
docs/sdk/sfa/sfa-ios/initialize.mdx
docs/sdk/sfa/sfa-ios/install.mdx
docs/sdk/sfa/sfa-ios/sfa-ios.mdx
docs/sdk/sfa/sfa-ios/usage.mdx
docs/sdk/sfa/sfa-js/account-abstraction.mdx
docs/sdk/sfa/sfa-js/authentication.mdx
docs/sdk/sfa/sfa-js/examples.mdx
docs/sdk/sfa/sfa-js/initialize.mdx
docs/sdk/sfa/sfa-js/initiate-topup.mdx
docs/sdk/sfa/sfa-js/install.mdx
docs/sdk/sfa/sfa-js/passkeys-sfa.mdx
docs/sdk/sfa/sfa-js/providers/aa-provider.mdx
docs/sdk/sfa/sfa-js/providers/common.mdx
docs/sdk/sfa/sfa-js/providers/evm.mdx
docs/sdk/sfa/sfa-js/providers/providers.mdx
docs/sdk/sfa/sfa-js/providers/solana.mdx
docs/sdk/sfa/sfa-js/providers/xrpl.mdx
docs/sdk/sfa/sfa-js/sfa-js.mdx
docs/sdk/sfa/sfa-js/show-wallet-connect.mdx
docs/sdk/sfa/sfa-js/usage.mdx
docs/sdk/sfa/sfa-js/wallet-services/usage.mdx
docs/sdk/sfa/sfa-js/wallet-services/wallet-services-hooks.mdx
docs/sdk/sfa/sfa-js/wallet-services/wallet-services.mdx
docs/troubleshooting/different-private-key.mdx
docs/troubleshooting/error-429.mdx
docs/troubleshooting/jwt-errors.mdx
docs/troubleshooting/metro-issues-mpc.mdx
docs/troubleshooting/metro-issues.mdx
docs/troubleshooting/nuxt-issues.mdx
docs/troubleshooting/popup-blocked-issue.mdx
docs/troubleshooting/react-big-int-error.mdx
docs/troubleshooting/sdk-errors-warnings.mdx
docs/troubleshooting/supported-browsers.mdx
docs/troubleshooting/svelte-issues.mdx
docs/troubleshooting/troubleshooting.mdx
docs/troubleshooting/vite-issues.mdx
docs/troubleshooting/webpack-issues.mdx
docs/what-is-web3auth.mdx
